[class*="containers_left-header__"] {
	width: auto;
}

[class*="switch_root__"] {
	display: none;	
}

[class*="thought-list_list__"] {
	border-top: .5px solid rgb(var(--colors-border-lightest));
}

[class*="topic-selector_root__"]:hover {
    height: 7.5rem !important;
}

[class*="topic-selector_root__"] {
    height: 7.5rem !important;
    flex-wrap: wrap;
	width: 60%;
	padding: 0px 14px;
	
}

[class*="topic-selector_root__"] [class*="topic-selector_topic-item-root__"] {
	height: 30px;
    border-radius: 0px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-start;
    padding: 5px;
}

[class*="topic-selector_root__"] [class*="topic-selector_topic-item-root__"]:hover {
	overflow: visible;
    white-space: normal;
    border: none;	
}

[class*="topic-selector_root__"] [class*="topic-selector_pin"] {
	display: none;
}

[class*="thought_content"] p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

[class*="thought_root"] {
    padding: 1px 1px 1px 1px;    
	flex-direction: row-reverse;
    justify-content: flex-end;
}

[class*="thought_quote-bar"] {
    padding: 0;
    position: absolute;    
	left: 80%;
    margin-top: 30px;
}

body {
    width: 99%;
}

#vListWrapper {
    position: relative;
	margin-right: 20px;
    overflow: hidden;
}

[class*="actions_actions-with-reactions-wrapper"]>[class*="actions_actions-wrapper-compact"] {
	margin-right: 15px;
}

[class*="thought_root"] [class*="thought_content"] {
    width: 60%;
	display: flex;
	padding: 0 10px;
	align-items: center;
}

[class*="thought_root"] [class*="thought_topic-wrapper"] {
    margin-top: 0px;
	width: 9%;
    text-align: left;
	height: inherit;
}

[class*="thought_root"] [class*="actions_actions-with-reactions-wrapper"] {
    margin-bottom: 0px;
    margin-top: 0px;
	width: 5%;
}

[class*="thought_root"] [class*="thought_head"] {
	width: 15%;
}

[class*="thought_root"] [class*="bar_reaction-bar-root"]{
	display: none;
}

[class*="thought_root"] [class*="post-preview_root"],
[class*="thought_root"] [class*="card_root"],
[class*="thought_root"] [class*="thought_quote"]{
	display: none;
}

[class*="post-preview_cover"], 
[class*="thought_img-wrapper"], 
[class*="card_frame-wrapper"], 
[class*="thought_player-wrapper"], 
[class*="typing-bar_typing-wrap"], 
[class*="card_third-thumb-wrapper"], 
[class*="comment-item_deleted"] {
    display: none;
}

[class*="images-grid_root"] {
    width: var(--imgwidth);
    left: var(--imgleft);
}

[class*="comment-item_images-area"] {
    width: 70%;
    left: 15%;
}

.bg-gray-300 {
    background-color: unset;
    width: var(--imgwidth);
    left: var(--imgleft);
}

[class*="images-grid_img-ratio"] {
    width: unset;
}

.MuiPaper-elevation16 {
    width: 60% !important;
}

.searchroot {
    position: fixed;
    inset: 0px;
    z-index: 10;
}

.searchdisplay {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
}

.searchdisplay div.form {
    position: relative;
    width: 300px;
    margin: 40px auto
}

.searchdisplay div.form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchdisplay div.form div input {
    width: 24px;
    height: 24px;
}

.searchdisplay input {
    border: 2px solid rgb(52, 91, 172);
    border-radius: 10px;
    background: rgb(249, 240, 218);
    color: rgb(158, 156, 156);
    width: 100%;
    height: 42px;
    padding-left: 13px;
    outline: none
}

.searchdisplay button {
    top: 0;
    right: 0;
    background: rgb(52, 91, 172);
    border-radius: 0 10px 10px 0;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    color: rgb(255, 255, 255)
}

.blackback {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 10;
}

#searchres {
    display: flex;
    flex-direction: column
}

.searchitem {
    width: 90%;
    margin: 5px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.searchitem .content, #searchicon {
    cursor: pointer;
}

.searchitem div, .searchitem p {
    padding: 0px 10px 10px 10px;
}

.searchitem div.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
}

.searchitem div.poster img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.searchitem div.poster .nickname {
    font-weight: bold
}

.searchitem div.poster .date {
    font-size: 10px;
}

[class*="desktop_left-container"] {
    flex-basis: var(--leftsidewidth) !important;
	flex-direction: row !important;
	flex-wrap: wrap;
}

.url-turned a {
    text-decoration: none;
    color: rgb(255 70 175);
}

[class*="desktop_right-container"] {
    flex-basis: var(--rightsidewidth) !important
}

[class*="base_root"] {
    z-index: 9 !important
}

[class*="message-text_content-wrap"] {
    display: block;
}

[class*="comments_modal"] {
    z-index: 10 !important;
}

@media (prefers-color-scheme: dark) {
    body#app {
        --colors-background-regular: 33 33 33;
        --colors-background-lighter: 43 43 43;
        --colors-background-morelighter: 55 55 55;
        --colors-background-gray: 60 60 60;
        --colors-emphasis: 230 230 230;
        --colors-background-receive-msg: 80 80 80;
        --colors-msg: 235 235 235;
        --colors-receive-msg: 255 255 255;
        --colors-background-sent-msg: 120 120 120;
        --colors-background-darker: 25 25 25;
        --colors-primary: 114 148 218;
        --colors-primary-darker: 154 178 228;
        --colors-gray-200: 140 140 140;
        --colors-gray-100: 110 110 110;
        --colors-background-msg: 100 100 100;
        --colors-caption: 235 235 235;
        --colors-background-comment: 60 60 60;
        --colors-background-reply: 80 80 80;
        --colors-body: 255 255 255;
        --colors-gray-50: 60 60 60;
        --colors-background-light: 45 45 45;
        --colors-background-selected-comment: 100 100 100;
        --colors-gray-500: 250 250 250;
        --colors-gray-400: 240 240 240;
        --colors-background-dialog: 55 55 55;
        --colors-background-heading: 45 45 45;
    }
    .thought-view_post-content"]>div p, h1, h2, h3 {
        color: rgb(var(--colors-emphasis)) !important;
    }
    div.message-container_list__3Fisu>div, div.message-container_list__3Fisu, .message-stamp_bubble__3rEa-, .containers_middle-root__WMWjt {
        background-color: rgb(var(--colors-background-lighter));
    }
    .containers_chat-header__1U1gU, .message-container_reply-bar__3Gbmt {
        background-color: rgb(var(--colors-background-darker)) !important;
    }
    .thought_info-wrapper__2IoVP {
        color: white;
    }
    .thought_info-wrapper__2IoVP:hover {
        background-color: rgb(var(--colors-gray-200));
    }
    textarea, .pin-list_root__1kBek, .comments_title-bar__361Cc {
        background: rgb(var(--colors-background-lighter)) !important;
    }
    div.w-full.flex.justify-center.absolute.top-0.z-10.bg-background-regular.h-14.items-center {
        background-color: rgb(var(--colors-background-regular)) !important;
    }
    .comment-item_name__3XDYe, .comment-item_action-btn___t_Lq, .text-sm.truncate, .card_name__sI-us, .text-black {
        color: rgb(var(--colors-msg));
    }
    .containers_selector__tMuOU {
        background-color: rgb(var(--colors-background-regular));
    }
    .card_root__185Tc, .button_reaction-btn__1pz7w, .search-bar_input__3bvsA {
        background-color: rgb(var(--colors-background-receive-msg));
    }
    .card_content__2Ll2o, .item-in-list_header__31CU8, .thought_quote-bar__1sliX, .font-medium, .text-md.truncate, .text-3xl, .text-xl, .my-4, .wiki-item_header__2XrPK, .text-2xl, div.MuiDialogContent-root>p, .user-setting-dialog_header__8oNfm, .right_white-btn__2jyHw, .ProseMirror, .searchdisplay div.form div {
        color: rgb(var(--colors-receive-msg));
    }
    .MuiPaper-elevation16, .MuiPaper-elevation {
        background-color: rgb(var(--colors-background-regular));
    }
    .base_root__1cPwo.base_card__2LZP5.base_no-outline__2oRvM, .base_root__1cPwo.base_card__2LZP5.base_no-outline__2oRvM:active, .card_action-btn__1mWBv {
        background-color: rgb(var(--colors-background-receive-msg));
        color: rgb(var(--colors-receive-msg));
    }
    .card_identity-card-root-desktop__2MtG1 .card_action-btn__1mWBv, input.text-field_input__3AyuA, .text-field_root__2eE2I, .searchitem, .searchdisplay input {
        background-color: rgb(var(--colors-background-receive-msg));
        color: rgb(var(--colors-receive-msg));
    }
    .message-container_reaction-panel__1God9, .drawer_root__1WN7c.drawer_is-menu__4jjkJ.drawer_dialog__1N_bY, .plain-input_compose-textarea-wrapper__3oJPr {
        background-color: rgb(var(--colors-background-morelighter));
    }
}

[class*="comment-item_root"] {
    content-visibility: auto;
    min-width: 500px;
}

.thought-widget {
    z-index: 10;
    position: absolute;
    width: 40px;
    bottom: 20%;
    right: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(70 70 70 / 80%);
    cursor: pointer;
    border-radius: 20px;
}

.reversed {
    display: flex;
    flex-direction: column-reverse;
}

input.switcher+label {
    margin: 0 0 5px 0;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.switcher+label:before, input.switcher+label:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    content: "";
}

input.switcher+label:before {
    right: 0px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}

input.switcher+label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.switcher:checked+label:before {
    background-color: rgb(114 148 218);
}

input.switcher:checked+label:after {
    margin-left: 20px;
}
